@model InClassLab3.Models.BranchViewModel

@{
    ViewBag.Title = "Branch";
}

<h2> @Model.Branch.Name
</h2>
<p>
    @Model.Branch.Address1
@Model.Branch.Address2
@Model.Branch.City
@Model.Branch.State
@Model.Branch.Zip
</p>


<h4> Accounts</h4>
<table class="table table-hover table-striped">
    @if (Model.Accounts.Any())
    {
        foreach (var account in Model.Accounts)
        {
            <tr class="account">
                <td class="id">@account.Id</td>
                <td>@account.AccountBalance</td>
            </tr>
        }
    }
    else
    {
        < tr >
            < td colspan = "6" > No Accounts found</ td >


             </ tr >
    }
</table>

<div class="AccountDetails">



</div>