@model InClassLab3.Models.MainViewModel

@{
    ViewBag.Title = "Directory";
}

<div class="jumbotron">
    <h1>Wiggly Piggly Banking</h1>
    <p class="lead">Your Friendly Neighborhood Bank <br /> Be sure to check out our Supermarket as well</p>
 
</div>



<div class="row">
    <div class="col-md-6">
        <h2>Branches</h2>
        <table class="table table-hover table-striped" id="Branches">
            @if (Model.Branches.Any())
            {
                foreach (var branch in Model.Branches)
                {
                    <tr class="Branch">
                        <td class="id">@branch.Id</td>
                        <td>@branch.Name</td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No Branch found</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">
        <h2>People</h2>
        <table class="table table-hover table-striped" id="People">
            @if (Model.Person.Any())
            {
                foreach (var person in Model.Person)
                {
                    <tr class="Person">
                        <td class="id">@person.Id</td>
                        <td>@person.FirstName @person.LastName</td>

                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No People found</td>
                </tr>
            }
        </table>
    </div>
</div>

