@model InClassLab3.Models.PersonViewModel
@{
    ViewBag.Title = "Person";
}


<hr />
<h5>Addresses</h5>
<table class="table table-hover table-striped">
    @if (Model.Addresses.Any()) {
        foreach (var address in Model.Addresses)
        {
            <tr>
                <td>@address.Line1</td>
                <td>@address.Line2</td>
                <td>@address.City</td>
                <td>@address.State</td>
                <td>@address.Zip</td>
                <td>
                    @if (address.Type == 0)
                    {
                        <text>Personal</text>
                    }
                    else
                    {
                        @:Business
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="6">No addresses found</td>
        </tr>
    }
</table>

<hr />
<h5>Phone #s</h5>
<table class="table table-hover table-striped">
    @if (Model.Phones.Any())
    {
        foreach (var number in Model.Phones)
        {
            <tr>
                <td>@number.Number</td>
                <td>
                    @if (number.Type == 0)
                    {
                        <text>Personal</text>
                    }
                    else
                    {
                        @:Business
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">No phone #s found</td>
        </tr>
    }
</table>

<hr />
<h5>Emails</h5>
<table class="table table-hover table-striped">
    @if (Model.Emails.Any())
    {
        foreach (var address in Model.Emails)
        {
            <tr>
                <td>@address.Address</td>
                <td>
                    @if (address.Type == 0)
                    {
                        <text>Personal</text>
                    }
                    else
                    {
                        @:Business
                    }
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="2">No emails found</td>
        </tr>
    }
</table>